@use 'connect-invoice-to-partner';
@import 'bootstrap/dist/css/bootstrap.min.css';

.bg-red {
    --bs-table-bg: #bb5858;
    --bs-table-color: white;
}

a {
    color: inherit;
}

.upper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: 4px solid #3f6d9b;
    z-index: 2;
    transform: rotate(45deg);
    border-bottom: 0;
    border-right: 0;
    cursor: pointer;
}